.PageContent {
    display: grid;
    margin: 20px;
    grid-template-columns: 0.8fr 1fr;
    height: 72vh;
    gap: 25px;
}

.FirstColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.KpisContainer {
    display: flex;
    justify-content: space-between;
}

.FirstColumn {
    height: 100%;
    overflow: hidden;
}

.TeamRow {
    overflow: hidden;
}

.ProjectColumn {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}